<% provide(:title, 'Event details') %>
<h2>Event details</h2>
<div class="container details">
   <div class="row">
    <div class="field">Date</div>
    <div class="value"><%= @event.date %></div>
  </div>
  <div class="row">
    <div class="field">Description</div>
    <div class="value"><%= @event.description %></div>
  </div>
  <div class="row">
    <div class="field">Host</div>
    <div class="value"><%= @event.host.name %> (<%= @event.host.username %>)</div>
  </div>
  <div class="row">
    <div class="field">Attendees</div>
    <div class="value">
      <% if @event.attendees.any? %>
        <ul class="list-unstyled">
          <% @event.attendees.each do |attendee| %>
            <li><%= attendee.name %> (<%= attendee.username %>)</li>
          <% end %>
        </ul>
      <% else %>
        This event has no attendees
      <% end %>
      </ul>
    </div>
  </div>
</div>
